



.fondo {
    background-image: ;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
.item {
    display: block;
    width: 45%;
    height: 45%;
}
.item img{
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;

}



.btn-success{
    font-size: 2rem;
}

.btn-danger{
    font-size: 2rem;
}